
  <h1>DollsDresses</h1>
<body>
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#/bacheca">Bacheca</a></li>
    <li><a href="#/contatti">Contatti</a></li>
      
    <li><a href="#/back_end">Riservato</a></li>
  </ul>
</div>

<div class='login'>
<h3>Log In:</h3>
userName<input type="text" ng-model="userName"/><br>
password  <input type="password" ng-model="password"/><br>
<button ng-click="login()">Login</button>

</div>

<div class="jumbotron">
  <div ng-repeat="dress in dresses | filter:{linea:lineProp}" class="dressList">
     <div class="dressName"> <h3><a href="/#/dress/:{{dress._id}}">{{dress.nome}}</a></h3></div>
     <img ng-src="{{dress.main_foto}}" class="thumb">
  </div>
<div class='hello' ng-show="loggedUser"><img ng-src="{{loggedUser.icon}}">{{userName}}</div>

<div class="footer">
</div>
    <div class='right_column'>
      Filtra  per Linea:<br>
        <select ng-model="lineProp" ng-options="item as item for item in lines"></select>
      
    </div>
</body>