
  <h1>DollsDresses</h1
<body>
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Bacheca</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Log-in</a></li>
  </ul>
</div>

<div class="jumbotron">
  <div ng-repeat="dress in dresses | filter:{linea:lineProp}" class="dressList">
      <h3><a href="dress/{{dress._id}}">{{dress.nome}}</a></h3>
      <a href="#/phones/{{dress._id}}" ><img ng-src="img/dress/{{dress.main_foto}}" class="thumb"></a>
      <p>{{dress.descrizione}}</p>
  </div>


<div class="footer">
</div>
    <div class='right'>
      Filtra  per Linea:
        <select ng-model="lineProp" ng-options="item as item for item in lines"></select>
      
    </div>
</body>